handwriting_charactesr_database
*.png
handwritting_characters_database/curated/._.DS_Store
.vscode
build
handwritting_characters_database/README.md
handwritting_characters_database/transformation.ipynb
.gitignore
